# Bonus Task for Project 4

-Author: [Solomon Stevens](https://github.com/Stone-Snevets)
-Repository: [datafun-4-noteboks](https://github.com/Stone-Snevets/datafun-04-notebooks)
-Date: September 15, 2023

### Create some contacts

In [1]:
# Imports
import pandas as pd
import re

# Create a list of contacts from page 310 in textbook
contacts = [['Mike Green', 'demo1@dietel.com', '5555555555'],
            ['Sue Brown', 'demo2@dietel.com', '5555551234']]

# Create DataFrame of the contacts list
contacts_df = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

# Can show the new DataFrame
contacts_df

         Name             Email       Phone
0  Mike Green  demo1@dietel.com  5555555555
1   Sue Brown  demo2@dietel.com  5555551234

### Format Phone Number

In [2]:
# Define format_phone_number function that receives an entry value
def format_phone_number(entry):
    # "split" string of numbers into substrings of numbers for us to format using fullmatch
    number = re.fullmatch(r"(\d{3})(\d{3})(\d{4})", entry)

    # Return formatted phone number if we can.
    #-> Use groups() to return a tuple of the substrings and pass that into join()
    # If not, just return what the function recieved.
    return '-'.join(number.groups()) if number else entry



# Update contacts_df to incorporate the formatted phone numbers
contacts_df['Phone'] = contacts_df['Phone'].map(format_phone_number)

# Can show new updated DataFrame
contacts_df

         Name             Email         Phone
0  Mike Green  demo1@dietel.com  555-555-5555
1   Sue Brown  demo2@dietel.com  555-555-1234